<section class="spotlight">
  <div class="image">
    <img src="images/pic01.jpg" alt="" />
  </div>
  <div class="content">
    <h2>Beto and Jackie</h2>
    <p>Jackie, originally from Coachella, CA, and Beto, originally from
    The Dino, met at Cal State San Bernardino.</p>
  </div>
</section>
<section class="spotlight">
  <div class="image">
    <img src="images/pic02.jpg" alt="" />
  </div>
  <div class="content">
    <p>Beto and Jackie realized that they were both eqully
    awesome (Juan was just a tiny bit cooler, but Jackie caught up)
    </p>
    <p>yuuuuuup</p>
  </div>
</section>
<section class="spotlight">
  <div class="image">
    <img src="images/pic03.jpg" alt="" />
  </div>
  <div class="content">
    <p>Beto and Jackie both live in Costa Mesa, CA.
    <p>Beto and Jackie are winging life... together :)</p>
  </div>
</section>
