<section class="spotlight">
  <div class="image">
    <img src="images/pic01.jpg" alt="" />
  </div>
  <div class="content">
    <h2>Juan and Jackie</h2>
    <p>Jackie, originally from Coachella, CA, and Juan, originally from San Bernardino, met at CSUSB 
      while they were pursuing their majors in Computer Engineering and Kinesiology.</p>
      <p>Mera (Jackies Big Sis) was acutally the on who started it all. She introduced them with the good ol' "Haaaave you met..." line. 
        (If you don't know what that is you really need to watch How I Met Your Mother, great show!)</p>
  </div>
</section>
<section class="spotlight">
  <div class="image">
    <img src="images/pic02.jpg" alt="" />
  </div>
  <div class="content">
    <p>Juan and Jackie realized that they were both awesome</p>
    <p>They share many interests such as: Eating, Dad Jokes, Sports, Life Goals, Micheladas, the list goes on and on. They can't wait to build a family of their own and continue all their traditions.</p>
  </div>
</section>
<section class="spotlight">
  <div class="image">
    <img src="images/pic03.jpg" alt="" />
  </div>
  <div class="content">
    <p>They are currently living in Costa Mesa, CA working towards their goal of buying a house and starting a family.</p>
    <p>Juan and Jackie are winging life... together :)</p>
  </div>
</section>
