<div class="inner">
  <header class="major">
    <h2>Jackie and Juan are tying the knot, and you're invited!</h2>
    <p><b>Mr. & Mrs. Cuauhtemoc & Teresa Baza,
      <br/> and Mr. & Mrs. Miguel & Juana Diaz invite you to share in the joy of their childrens bond in marriage</b></p>

    <p>Ceremony is scheduled for 1:30pm at <a href="https://www.google.com/maps?saddr=My+Location&daddr=531+N+F+St,+San+Bernardino,+CA+92401">St Bernardine's Church.</a></p>

    <p>Reception will be open at 4:30pm at <a href="https://www.google.com/maps?saddr=My+Location&daddr=354+S+7th+St,+Colton,+CA+92324">El Sombrero Banquet Hall</a> 
      (see the
      <a href="#location" class="more scrolly">map below</a>) on
      <b>Saturday, December 15, 2018</b>. 
    </p>
    <p><b>Come party with us!</b></p>
  </header>
</div>