<div class="inner">
  <header class="major">
    <h2>Jackie and Juan are tying the knot, and you're invited!</h2>
    <p><b>Mr. & Mrs. Cuauhtemoc & Teresa Baza,
      <br/> and Mr. & Mrs. Miguel & Juana Diaz invite you to share in the joy of their childrens bond in marriage</b></p>

    <p>The ceremony is scheduled for 1:30pm @ St Bernardine's Church.</p>

    <p>Come party with us!</p>
    <p>The reception will be open at 4:30pm in Colton, California at El Sombrero Banquet Hall (see the
      <a href="#location" class="more scrolly">map below</a>) on
      <b>Saturday, December 15, 2018</b>>. </p>
  </header>
</div>