<!-- <div class="image">
    <img src="images/pic04.jpg" alt="" />
  </div> -->

<div class="inner">
    <header class="major">
        <h2>Padrinos</h2>
        <p>Special thanks from everyone who offered to help with our wedding.</p>
        <p>It means a lot to us! Thank you!!</p>
    </header>
    <ul class="features3">
        <li class="icon fa-user">
            <h3>Mera & Andrew</h3>
            <p>Wedding Rings</p>
        </li>
        <li class="icon fa-user">
            <h3>Lalo Hernandez</h3>
            <p>Arras</p>
        </li>
        <li class="icon fa-user">
            <h3>Tia Reyes?</h3>
            <p>Lazo</p>
        </li>
        <li class="icon fa-user">
            <h3>Ramon Dominguez</h3>
            <p>Chelas</p>
        </li>
        <li class="icon fa-user">
            <h3></h3>
            <p></p>
        </li>
        <li class="icon fa-user">
            <h3></h3>
            <p></p>
        </li>
        <li class="icon fa-user">
            <h3></h3>
            <p></p>
        </li>
        <li class="icon fa-user">
            <h3></h3>
            <p></p>
        </li>
    </ul>
</div>