<!-- <div class="image">
    <img src="images/pic04.jpg" alt="" />
  </div> -->

<div class="inner">
    <header class="major">
        <h2>Padrinos</h2>
        <p>Special thanks to everyone who offered to help with our wedding.</p>
        <p>It means a lot to us :) Thank you!!</p>
    </header>
    <ul class="features3">
        <li class="icon fa-user">
            <h3>Maria Lourdes y Ruben</h3>
            <p>Velacion</p>
        </li>
        <li class="icon fa-user">
            <h3>Miguel y Juana Diaz</h3>
            <p>Musica/Salón</p>
        </li>
        <li class="icon fa-user">
            <h3>Cuauhtémoc Y Teresa Baza</h3>
            <p>Vestido/Salón</p>
        </li>
        <li class="icon fa-user">
            <h3>Lalo Y Maria Hernandez</h3>
            <p>Aras</p>
        </li>
        <li class="icon fa-user">
            <h3>Danny Y Ursula</h3>
            <p>Salón</p>
        </li>
        <li class="icon fa-user">
            <h3>Esmeralda Baza</h3>
            <p>Wedding Rings</p>
        </li>
        <li class="icon fa-user">
            <h3>Tia Rosa Reyes</h3>
            <p>Lazo</p>
        </li>
        <li class="icon fa-user">
            <h3>Aaron Flores</h3>
            <p>Flores</p>
        </li>
        <li class="icon fa-user">
            <h3>Ramon Dominguez</h3>
            <p>Bebidas</p>
        </li>
        <li class="icon fa-user">
            <h3>Reyna Flores</h3>
            <p>Pastel</p>
        </li>
        <li class="icon fa-user">
            <h3>Ariana Ruby Baza</h3>
            <p>Ramo</p>
        </li>
        <li class="icon fa-user">
            <h3>Jena</h3>
            <p>Cojines</p>
        </li>
    </ul>
</div>
