<!-- <div class="image">
    <img src="images/pic04.jpg" alt="" />
  </div> -->

<div class="inner">
    <header class="major">
        <h2>Padrinos</h2>
        <p>Un agradecimiento especial a todos los que se ofrecieron a ayudar con nuestra boda..</p>
        <p>Estamos muy agradecidos 🤗 ¡Gracias!</p>
    </header>
    <ul class="features3">
        <li class="icon fa-user">
            <h3>Maria Lourdes Perez y Ruben Garcia</h3>
            <p>Velacion</p>
        </li>
        <li class="icon fa-user">
            <h3>Miguel y Juana Diaz</h3>
            <p title="🎺🎶">Musica/Salón</p>
        </li>
        <li class="icon fa-user">
            <h3>Cuauhtémoc Y Teresa Baza</h3>
            <p>Vestido/Salón</p>
        </li>
        <li class="icon fa-user">
            <h3>Lalo Y Maria Hernandez</h3>
            <p>Arras+</p>
        </li>
        <li class="icon fa-user">
            <h3>Javier Diaz</h3>
            <p>Fotos/Vídeo</p>
        </li>
        <li class="icon fa-user">
            <h3>Familia Hernandez</h3>
            <p>Mesa de Postres\Dulces</p>
        </li>
        <li class="icon fa-user">
            <h3>Danny Y Ursula</h3>
            <p>Salón</p>
        </li>
        <li class="icon fa-user">
            <h3>Esmeralda Baza</h3>
            <p>Wedding Rings</p>
        </li>
        <li class="icon fa-user">
            <h3>Tia Rosa Reyes & Santiago Ruiz</h3>
            <p>Lazo</p>
        </li>
        <li class="icon fa-user">
            <h3>Aaron Flores</h3>
            <p title="No pun intended">Flores+</p>
        </li>
        <li class="icon fa-user">
            <h3>Aleesha Garcia & Francisco Martinez</h3>
            <p>Rosario/Biblia</p>
        </li>
        <li class="icon fa-user">
            <h3>Ramon Dominguez & Ruby Ledesma</h3>
            <p title='It&#39s Modelo Time foo 🍻'>Bebidas</p>
        </li>
        <li class="icon fa-user">
            <h3>Reyna Flores</h3>
            <p title="Mmmmm🍰">Pastel</p>
        </li>
        <li class="icon fa-user">
            <h3>Ariana Rubi Baza</h3>
            <p>Ramo</p>
        </li>
        <li class="icon fa-user">
            <h3>Jena</h3>
            <p>Cojines</p>
        </li>
        <li class="icon fa-user">
            <h3>Tío Chino</h3>
            <p title="Vroom vroom 🚗">Limusina</p>
        </li>
    </ul>
</div>
