<div class="inner">
  <header class="major">
    <h2>Damas y Caballeros de Honor</h2>
  </header>
  <ul class="features">
    <li class="icon fa-user">
      <h3>Esmeralda Baza</h3>
      <p>Maid of Honor and also Jackie's Big Sister. Even with a six year age gap, they still manage to be close. 
        Jackie's known her all her life. Mera is currently enjoying life in San Diego.</p>
    </li>
    <li class="icon fa-user">
      <h3>Aaron Flores</h3>
      <p>The Best Man.<br>One of the most trustworthy people out there. We've always had each other's backs.</p>
    </li>
    <li class="icon fa-user">
      <h3>Ariana Carlson</h3>
      <p>Jackie's Middle School BF. They've been through alot together </p>
    </li>
    <li class="icon fa-user">
      <h3>Javier (Chatazos) Diaz</h3>
      <p>Beto's big brother, best brother ever. No matter how busy their lives get, they still manage to find time to punk each other.</p>
    </li>
    <li class="icon fa-user">
      <h3>Aleesha Garcia</h3>
      <p>Met at CSUSB while playing volleyball. Their shared interest for volleyball brought them closer together. The rest was history.</p>
    </li>
    <li class="icon fa-user">
      <h3>Francisco (Pancho) Martinez</h3>
      <p>Beto's Compadre. We grew up together and have had plenty of wild adventures together, and will continue doing so.</p>
    </li>
    <li class="icon fa-user">
      <h3>Miriam Lopez</h3>
      <p>They met while working at the Boys & Girls Club, she was super nice and took her under her wing. She also loves to play Mortal Combat, but can't hang with Beto... maybe one day.</p>
    </li>
    <li class="icon fa-user">
      <h3>Jesus (Chuy) Hernandez</h3>
      <p>Beto's Homie. We met playing soccer have been hanging out since. Plenty of good times together. He's a true friend\fam.</p>
    </li>
    <li class="icon fa-user">
      <h3>Lovely</h3>
      <p>BGC Fam. Super down to earth and loves to have fun. We've had great times in hangouts, dinners and life.</p>
    </li>
    <li class="icon fa-user">
      <h3>Danny Baza</h3>
      <p>Compadre/Cuñado.<br>Ever since Juan was introduced to Jackie's family, they hit it off. They enjoy drinking cold ones in the back yard. 
        Very proud to be his adorable daughters godfather. Many more memories to come.</p>
    </li>
  </ul>
</div>
