<div class="inner">
  <header class="major">
    <h2>Damas y Caballeros de Honor</h2>
  </header>
  <ul class="features">
    <li class="icon fa-user">
      <h3>Esmeralda Baza</h3>
      <p>Jackie's big sister. They've known each other their whole lives. Currently living in San Diego.</p>
    </li>
    <li class="icon fa-user">
      <h3>Aaron Flores</h3>
      <p>The Best Man.<br>One of the most trustworthy people out there. We've always had each other's backs.</p>
    </li>
    <li class="icon fa-user">
      <h3>Ariana Carlson</h3>
      <p>Jackie's Middle School BF. They've been through alot together </p>
    </li>
    <li class="icon fa-user">
      <h3>Javier (Chatazos) Diaz</h3>
      <p>Beto's big brother. Best brother ever. Even as busy as we can be, we still find time to punk each other.</p>
    </li>
    <li class="icon fa-user">
      <h3>Aleesha Garcia</h3>
      <p>Volleyball buddies since Day 0, literally. They met playing intramural volleyball at CSUSB and have always hung out since.</p>
    </li>
    <li class="icon fa-user">
      <h3>Francisco (Pancho) Martinez</h3>
      <p>Beto's Compadre. We grew up together and have had plenty of wild adventures together, and will continue doing so.</p>
    </li>
    <li class="icon fa-user">
      <h3>Miriam Lopez</h3>
      <p>BGC Fam. She's awesome and super nice! Next CEO of BGC. She also loves to play Mortal Combat, but can't hang with Beto... maybe one day.</p>
    </li>
    <li class="icon fa-user">
      <h3>Jesus (Chuy) Hernandez</h3>
      <p>Beto's Homie. We met playing soccer have been hanging out since. Plenty of good times together. He's a true friend\fam.</p>
    </li>
    <li class="icon fa-user">
      <h3>Lovely</h3>
      <p>BGC Fam. Super down to earth and loves to have fun. We've had great times in hangouts, dinners and life.</p>
    </li>
    <li class="icon fa-user">
      <h3>Danny Baza</h3>
      <p>My Compadre/Cuñado</p>
    </li>
  </ul>
</div>
