<div class="inner">
  <header class="major">
    <h2>Damas y Caballeros de Honor</h2>
    <p>A.K.A. Los Chingones</p>
  </header>
  <ul class="features">
    <li class="icon fa-user">
      <h3>Esmeralda Baza</h3>
      <p>Jackie's big sis. They've always been cool. Mera, currently living in San Diego.</p>
    </li>
    <li class="icon fa-user">
      <h3>Aaron FLores</h3>
      <p>Beto's Best Man. He's cool... I guess<br> He's on thin ice though. Nahh but for real, he's always been real <br>and we have had some crazy thing where we always end up going to school, living, and working close together. Add more stuff here, less? idk...</p>
    </li>
    <li class="icon fa-user">
      <h3>Ariana Carlson</h3>
      <p>Jackie's Middle School BF.</p>
    </li>
    <li class="icon fa-user">
      <h3>Javier (Chatazos) Diaz</h3>
      <p>Beto's big brother. Best big bro ever, even when we whoop each other's ass</p>
    </li>
    <li class="icon fa-user">
      <h3>Aleesha Garcia</h3>
      <p>Volleyball buddies since Day 1, literally. They met playing intramural volleyball at CSUSB and have always hung out since.</p>
    </li>
    <li class="icon fa-user">
      <h3>Francisco (Pancho) Martinez</h3>
      <p>Beto's compadre since we were kids. Grew up together, got into trouble together, and will continue doing so.</a>.</p>
    </li>
    <li class="icon fa-user">
      <h3>Miriam Lopez</h3>
      <p>Jackie's old boss from BGC. She's awesome and super nice! Next CEO of BGC lol. She also loves to play Mortal Combat, but can't hang with Beto... maybe one day.</p>
    </li>
    <li class="icon fa-user">
      <h3>Jesus (Chuy) Hernandez</h3>
      <p>Beto's homie, met playing soccer. He though he was a pro and s***, but he wasn't lol. He enjoys loosing at FIFA and betting and loosing 6 packs to Beto</p>
    </li>
    <li class="icon fa-user">
      <h3>Lovely</h3>
      <p>Jackie's second boss from BGC.  She's also been super cool and we've had great times in hangouts, dinners and life.</p>
    </li>
    <li class="icon fa-user">
      <h3>Dany Baza</h3>
      <p>My Compadre/Cuñado</p>
    </li>
  </ul>
</div>
